@value colors: "constants/colors.css";
@value grayBackground, blackInactive from colors;

.main {
  display: flex;
  margin-bottom: 30px;
}

.image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 20px;
}

.messageConteiner {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.header {
  display: flex;
}

.name {
  font-weight: 600;
  margin-right: 5px;
}

.createdAt {
  color: blackInactive;
}

.text {
  line-height: 24px;
}